useDynLib(GSVA)

import(methods)
import(BiocGenerics)
import(shiny)

importClassesFrom(Biobase, ExpressionSet)
importClassesFrom(GSEABase, GeneSetCollection)

importMethodsFrom(Biobase, featureNames,
                           phenoData,
                           experimentData)

importMethodsFrom(GSEABase, geneIds,
                            incidence)

importFrom(graphics, plot)
importFrom(stats, ecdf,
                  na.omit)
importFrom(utils, setTxtProgressBar,
                  txtProgressBar,
                  read.csv,
                  write.csv)
importFrom(Biobase, exprs,
                    annotation)
importFrom(GSEABase, AnnoOrEntrezIdentifier,
                     mapIdentifiers,
                     getGmt)
importFrom(geneplotter, multidensity)
importFrom(shinythemes, shinytheme)

exportMethods(gsva,
              filterGeneSets,
              computeGeneSetsOverlap)

export(igsva)
