#errorsGsva{color: red;
font-size: 20px;
font-weight: bold;
}

#title_gsva {
  background-color: black;
}

#app_title {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

#matrix1-matrix-input, #genes1-genesets-input {
  background-color: #708090;
}

#arg {
  background-color: #BC8F8F;
}

.left-side, .main-sidebar {
  padding-top: 75px;
}

.main-header {
  max-height: 75px;
  }

.main-header .logo {
  height: 75px;
  
}

.run-btn {
  color: #fff; 
  background-color: #6495ED;
  font-weight: bold;
  border-color: #fff;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}


/**
.main-header {
  max-height: 75px;
}

.main-header .logo {
  max-height: 75px;
}
**/