#errorsGsva{color: red;
font-size: 20px;
font-weight: bold;
}

#title_gsva {
  background-color: black;
}

#app_title {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
}

.left-side, .main-sidebar {
  padding-top: 75px;
}

.main-header {
  max-height: 75px;
  }

.main-header .logo {
  height: 75px;
  
}


/**
.main-header {
  max-height: 75px;
}

.main-header .logo {
  max-height: 75px;
}
**/